/applicationContext.xml
/com
/datasource.properties
/ehcache.xml
/log4j.properties
/message_en.properties
/message_zh_CN.properties
/mybatis-config.xml
/springmvc.xml
/vote_mysql.sql
/vote_oracle.sql
